<div class="d-flex justify-content-evenly flex-wrap mb-1">
    <div class="skeleton-item"><SfSkeleton Shape="SkeletonType.Square" Width="150px"></SfSkeleton></div>
    <div class="skeleton-item"><SfSkeleton Shape="SkeletonType.Square" Width="150px"></SfSkeleton></div>
    <div class="skeleton-item"><SfSkeleton Shape="SkeletonType.Square" Width="150px"></SfSkeleton></div>
    <div class="skeleton-item"><SfSkeleton Shape="SkeletonType.Square" Width="150px"></SfSkeleton></div>
    <div class="skeleton-item"><SfSkeleton Shape="SkeletonType.Square" Width="150px"></SfSkeleton></div>
    <div class="skeleton-item"><SfSkeleton Shape="SkeletonType.Square" Width="150px"></SfSkeleton></div>
</div>
<SfSkeleton Shape="SkeletonType.Text" Height="75px" Width="100%"></SfSkeleton>
