@using IMS.WebUI.Components.Layout.Sidebar

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        @*<SidebarTemplate>
            <SidebarContentTemplate><Content/></SidebarContentTemplate>
        </SidebarTemplate>*@
        <NavMenu></NavMenu>
    </div>

    <main>
        <div class="top-row pt-3">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
            <AuthorizeView Policy="AdministrationPolicy">
                <AdminHomeHeader />
            </AuthorizeView>
            <AuthorizeView Policy="@Policy.UserPolicy">
                <ClientHomeHeader />
            </AuthorizeView>
        </div>

        <article class="content px-4 flex-grow-1">
            @Body

        </article>
        <Footer />

    </main>

</div>




<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{
    
}